body {
    background-color: #f4f3ee;
}

.padding {
    padding: 10px;
}

.margin-top {
    margin-top: 5px;
}
.fontM {
    font-family: 'Montez', sans-serif;
}

.fontH {
    font-family: 'Hind Siliguri', sans-serif;
}

.logo-text {
    font-weight: Bold;
    font-size: xxx-large;
    letter-spacing: 4px;
    color: #3a3a3a;
}

.navbar-bg{
    background-color: #E6BEAE;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
    border: 2px solid #f4f3ee ;
}

.nav-item {
    font-family: 'Hind Siliguri', sans-serif;
}

.nav-item:hover {
    font-weight: bold;
}

.active {
    font-weight: bold;
}

#background-image {
    background-image: url("/static/images/background.jpg");
    background-size: cover; 
}
.body {
    height: 100vh;
}

/* Recipe detail */

.image-container {
    
}
@media screen and (max-width: 557px) {
    .logo-display {
        display: none;
    }

    .logo-text {
        font-weight: Bold;
        font-size: xx-large;
        letter-spacing: 3px;
    }
}
